.headshot {
  width: 100%;
  max-width: 280px;
}

.bg-purple {
  background-color: #6f42c1; /* --bs-purple */
}

.social-icon {
  width: 28px;
  height: 28px;
  margin-left: 3px;
  margin-right: 3px;
}

#email-icon {
  border-radius: 17%;
}

.image-full-width {
  width: 100%;
}

.image-grid {
  width: 49%;
  padding-right: 8px;
  padding-bottom: 12px;
}

.image-wrap-text {
  float: left;
  width: 25%;
  padding-right: 8px;
  padding-bottom: 8px;
}

/* Spacing */

.pad-left-20 {
  padding-left: 20px;
}

.pad-top-10 {
  padding-top: 10px;
}

.pad-top-20 {
  padding-top: 20px;
}
